DB_HOST = '{{ django_db_host }}'
DB_USER = '{{ django_db_user }}'
DB_PASSWORD = '{{ django_db_password }}'
DB_NAME = '{{ django_db_name }}'
DB_PORT = {{ django_db_port }}
WORKER_NAME = '{{ worker_name }}'