# ElasticSearch variables for the container
ES_IN_PROTOCOL = '{{ELASTIC_PROTOCOL}}'
ES_IN_HOST = '{{ELASTIC_CONTAINER_NAME}}'
ES_IN_PORT = '{{ELASTIC_PORT}}'
ES_ADMIN_PASSWORD = '{{ELASTIC_ADMIN_PASSWORD}}'

# Kibana variables for the container
KIB_IN_PROTOCOL = '{{KIBANA_PROTOCOL}}'
KIB_IN_HOST = '{{KIBANA_CONTAINER_NAME}}'
KIB_IN_PORT = '{{KIBANA_PORT}}'
KIB_PATH = '{{KIBANA_URL_PATH}}'
