PANELS_USERNAME = "{{panels_username}}"
PANELS_USER_PSW = "{{panels_password}}"

ES_IN_URL = "{{es_protocol}}://{{es_container_name}}:{{es_port}}"
ES_ADMIN_PSW = "{{es_admin_password}}"

KIB_PROTO = '{{kibana_protocol}}'
KIB_IN_HOST = '{{kibana_container_name}}'
KIB_PORT = '{{kibana_port}}'
KIB_IN_URL = "{}://{}:{}".format(KIB_PROTO, KIB_IN_HOST, KIB_PORT)

ES_PROTO = '{{es_protocol}}'
ES_IN_HOST = '{{es_container_name}}'
ES_PORT = '{{es_port}}'
