[general]
short_name = Grimoire
update = false
min_update_delay = 10
debug = false
# /var/log/mordred/
logs_dir = logs
# Number of items per bulk request to Elasticsearch
bulk_size = 100
# Number of items to get from Elasticsearch when scrolling
scroll_size = 100
menu_file = ./menu.yml
aliases_file = mordred/aliases.json

[projects]
projects_file = ./projects.json

[es_collection]
url = https://admin:{{es_admin_password}}@{{es_container_name}}:{{es_port}}

[es_enrichment]
url = https://admin:{{es_admin_password}}@{{es_container_name}}:{{es_port}}

[sortinghat]
host = {{ db_container_name }}
user = {{ db_user }}
password = {{ db_password }}
database = {{ db_sortinghat_name }}
load_orgs = true
orgs_file = data/orgs_sortinghat.json
identities_api_token = 'xxxx'
identities_file = [data/perceval_identities_sortinghat.json]
affiliate = true
# commonly: Unknown
unaffiliated_group = Unknown
autoprofile = [customer,git,github]
matching = [email]
sleep_for = 120
bots_names = [Beloved Bot]

# This section is ignored in Cauldron mordred
[phases]
collection = true
identities = true
enrichment = true
panels = true

[git]
raw_index = git_raw
enriched_index = git_enrich
latest-items = true
category = commit
studies = [enrich_demography:git, enrich_areas_of_code:git]

[enrich_demography:git]
date_field = utc_commit
author_field = author_uuid

[enrich_areas_of_code:git]
#no_incremental = true
in_index = git_raw
out_index = git_aoc_enriched

[github]
api-token = xxxx
raw_index = github_raw
enriched_index = github_enrich

[gitlab]
raw_index = gitlab_raw
enriched_index = gitlab_enriched
api-token = xxxx
no-archive = true
sleep-for-rate = false
is-oauth-token = true
