upstream cauldron {
    server {{WEB_CONTAINER_NAME}}:8000;
}

upstream kibana {
    server {{KIBANA_CONTAINER_NAME}}:5601;
}

upstream matomo {
    server {{MATOMO_CONTAINER_NAME}};
}

log_format  matomo              '{"ip": "$remote_addr",'
                                '"host": "$host",'
                                '"path": "$request_uri",'
                                '"status": "$status",'
                                '"referrer": "$http_referer",'
                                '"user_agent": "$http_user_agent",'
                                '"length": $bytes_sent,'
                                '"generation_time_milli": $request_time,'
                                '"date": "$time_iso8601"}';

{% if ENABLE_PORT_80 %}
server {
    listen 80;

    server_name   {{ ansible_ssh_host|default(ansible_host) }};

    access_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514 matomo;
    error_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514;

    return 301 https://$host$request_uri;
}
{% endif %}


server {
    listen        {{CAULDRON_PORT}} ssl;
    server_name   {{ ansible_ssh_host|default(ansible_host) }};

    # If the user try to access the app port with http, redirect to https
    error_page 497 https://$host:{{CAULDRON_PORT}}$request_uri;

    client_max_body_size 100M;

    ssl_certificate         /certificates/ssl_server.crt;
    ssl_certificate_key     /certificates/ssl_server.key;



    location /kibana {
        access_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514,tag=kibana matomo;
        error_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514,tag=kibana;

        proxy_pass http://kibana;
        break;
    }

    location / {
        access_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514,tag=cauldron matomo;
        error_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514,tag=cauldron;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://cauldron;
            break;
        }
    }

}



server {
    listen        {{MATOMO_PORT}} ssl;
    server_name   {{ ansible_ssh_host|default(ansible_host) }};

    access_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514,tag=matomo matomo;
    error_log syslog:server={{SYSLOG_CONTAINER_NAME}}:514,tag=matomo;

    # If the user try to access the app port with http, redirect to https
    error_page 497 https://$host:{{MATOMO_PORT}}$request_uri;

    client_max_body_size 100M;

    ssl_certificate         /certificates/ssl_server.crt;
    ssl_certificate_key     /certificates/ssl_server.key;

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $http_host;

        proxy_redirect off;

        proxy_pass http://matomo;
    }

}
