upstream cauldronio {
    server {{WEB_CONTAINER_NAME}}:8000;
}

upstream kibana {
    server {{KIBANA_CONTAINER_NAME}}:5601;
}


{% if ENABLE_PORT_80 %}
server {
    listen 80;

    server_name   {{ ansible_ssh_host|default(ansible_host) }};

    access_log /var/log/nginx/custom_access.log;
    error_log /var/log/nginx/custom_error.log;

    return 301 https://$host$request_uri;
}
{% endif %}


server {
    listen        {{CAULDRON_PORT}} ssl;
    server_name   {{ ansible_ssh_host|default(ansible_host) }};

    access_log /var/log/nginx/custom_access.log;
    error_log /var/log/nginx/custom_error.log;

    # If the user try to access the app port with http, redirect to https
    error_page 497 https://$host:{{CAULDRON_PORT}}$request_uri;

    client_max_body_size 100M;

    ssl_certificate         /certificates/ssl_server.crt;
    ssl_certificate_key     /certificates/ssl_server.key;



    location /kibana {
        proxy_pass http://kibana;
        break;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://cauldronio;
            break;
        }
    }

}

