PANELS_USERNAME = "{{PANELS_USERNAME}}"
PANELS_USER_PSW = "{{PANELS_PASSWORD}}"

ES_IN_URL = "{{ELASTIC_PROTOCOL}}://{{ELASTIC_CONTAINER_NAME}}:{{ELASTIC_PORT}}"
ES_ADMIN_PSW = "{{ELASTIC_ADMIN_PASSWORD}}"

KIB_IN_PROTO = '{{KIBANA_PROTOCOL}}'
KIB_IN_HOST = '{{KIBANA_CONTAINER_NAME}}'
KIB_IN_PORT = '{{KIBANA_PORT}}'
KIB_PATH = '{{KIBANA_URL_PATH}}'
KIB_IN_URL = "{}://{}:{}{}".format(KIB_IN_PROTO, KIB_IN_HOST, KIB_IN_PORT, KIB_PATH)

ES_PROTO = '{{ELASTIC_PROTOCOL}}'
ES_IN_HOST = '{{ELASTIC_CONTAINER_NAME}}'
ES_PORT = '{{ELASTIC_PORT}}'
