[general]
short_name = Grimoire
update = false
min_update_delay = 10
debug = false
# /var/log/mordred/
logs_dir = logs
# Number of items per bulk request to Elasticsearch
bulk_size = 100
# Number of items to get from Elasticsearch when scrolling
scroll_size = 100
menu_file = ./menu.yml
aliases_file = mordred/aliases.json

[projects]
projects_file = ./projects.json

[es_collection]
url = https://admin:{{ELASTIC_ADMIN_PASSWORD}}@{{ELASTIC_CONTAINER_NAME}}:{{ELASTIC_PORT}}

[es_enrichment]
url = https://admin:{{ELASTIC_ADMIN_PASSWORD}}@{{ELASTIC_CONTAINER_NAME}}:{{ELASTIC_PORT}}
autorefresh = False

# This section is ignored in Cauldron mordred
[phases]
collection = true
identities = false
enrichment = true
panels = true

[git]
raw_index = git_raw
enriched_index = git_enrich
latest-items = true
category = commit
studies = [enrich_areas_of_code:git]
git-path = /git-perceval
anonymize = true

[enrich_demography:git]
date_field = utc_commit
author_field = author_uuid

[enrich_areas_of_code:git]
#no_incremental = true
in_index = git_raw
out_index = git_aoc_enriched

[github]
api-token = xxxx
raw_index = github_raw
enriched_index = github_enrich
no-archive = true
filter-classified = true
anonymize = true

[gitlab]
raw_index = gitlab_raw
enriched_index = gitlab_enriched
api-token = xxxx
no-archive = true
sleep-for-rate = false
is-oauth-token = true
anonymize = true

[meetup]
raw_index = meetup_raw_renamed_in_mordred
enriched_index = meetup_enriched_renamed_in_mordred
api-token = xxxx
no-archive = true
sleep-for-rate = true
anonymize = true

