[general]
short_name = Grimoire
update = false
debug = false
logs_dir = logs
bulk_size = 100
scroll_size = 100
aliases_file = mordred/aliases.json

[projects]
projects_file = ./projects.json

[es_collection]
url = https://admin:{{ELASTIC_ADMIN_PASSWORD}}@{{ELASTIC_CONTAINER_NAME}}:{{ELASTIC_PORT}}

[es_enrichment]
url = https://admin:{{ELASTIC_ADMIN_PASSWORD}}@{{ELASTIC_CONTAINER_NAME}}:{{ELASTIC_PORT}}
autorefresh = True

[sortinghat]
host = {{ DB_CONTAINER_NAME }}
user = {{ DB_USER }}
password = {{ DB_USER_PASSWORD }}
database = {{ DB_SORTINGHAT_NAME }}
load_orgs = true
orgs_file = mordred/data/organizations.json
affiliate = false
unaffiliated_group = Unknown
autoprofile = [customer,git,github]
matching = [email]
sleep_for = 120

# This section is ignored in Cauldron mordred
[phases]
collection = true
identities = true
enrichment = true
panels = false

[git]
raw_index = git_raw_index
enriched_index = git_enrich_index
latest-items = true
category = commit
studies = []
git-path = /git-perceval

[enrich_demography:git]
date_field = utc_commit
author_field = author_uuid

[github:issue]
api-token = xxxx
raw_index = github_raw_index
enriched_index = github_enrich_index
category = issue
sleep-for-rate = false
no-archive = true

# [github:pull]
# api-token = xxxx
# raw_index = github_pull_raw_index
# enriched_index = github_pull_enrich_index
# category = pull_request
# sleep-for-rate = false
# no-archive = true

[github:repo]
api-token = xxxx
raw_index = github_repo_raw_index
enriched_index = github_repo_enrich_index
category = repository
sleep-for-rate = false
no-archive = true

[github2:issue]
api-token = xxxx
raw_index = github_raw_index
enriched_index = github2_enrich_index
category = issue
sleep-for-rate = false
no-archive = true

# [github2:pull]
# api-token = xxxx
# raw_index = github_pull_raw_index
# enriched_index = github2_pull_enriched_index
# category = pull_request
# sleep-for-rate = false
# no-archive = true

[gitlab:issue]
api-token = xxxx
raw_index = gitlab_raw_index
enriched_index = gitlab_enriched_index
category = issue
sleep-for-rate = false
no-archive = true
is-oauth-token = true

[gitlab:merge]
api-token = xxxx
raw_index = gitlab_mrs_raw_index
enriched_index = gitlab_mrs_enriched_index
category = merge_request
sleep-for-rate = false
no-archive = true
is-oauth-token = true

[meetup]
raw_index = meetup_raw_index
enriched_index = meetup_enriched_index
api-token = xxxx
no-archive = true
sleep-for-rate = true
