CREATE USER IF NOT EXISTS {{ DB_USER }};
SET PASSWORD FOR {{ DB_USER }} = PASSWORD('{{ DB_USER_PASSWORD }}');
GRANT ALL PRIVILEGES ON *.* TO "{{ DB_USER }}"@"%" WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS {{ DB_SORTINGHAT_NAME }};
CREATE DATABASE IF NOT EXISTS {{ DB_DJANGO_NAME }} CHARACTER SET utf8;
