CREATE USER IF NOT EXISTS {{ DB_USER }};
ALTER USER {{ DB_USER }} IDENTIFIED BY '{{ DB_USER_PASSWORD }}';
GRANT ALL PRIVILEGES ON *.* TO "{{ DB_USER }}"@"%" WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS {{ DB_SORTINGHAT_NAME }};
CREATE DATABASE IF NOT EXISTS {{ DB_DJANGO_NAME }} CHARACTER SET utf8;

# Matomo configuration
{% if MATOMO_ENABLED %}
CREATE DATABASE IF NOT EXISTS {{ DB_MATOMO_NAME }} CHARACTER SET utf8;
CREATE USER IF NOT EXISTS {{ DB_MATOMO_USER }};
ALTER USER {{ DB_MATOMO_USER }} IDENTIFIED BY '{{ DB_MATOMO_PASSWORD }}';
GRANT ALL PRIVILEGES ON {{DB_MATOMO_NAME}}.* TO "{{ DB_MATOMO_USER }}"@"%";
{% endif %}